.form-horizontal .control-group {
    margin-bottom: 5px;
}

.row-fluid {
    margin-top: 10px;
}

.control-group {
    display: block;
    margin-bottom: 10px;
}

.control-label {
    display: block;
    font-weight: bold;
}

.input-text {
    width: 100%;
    padding: 5px;
}

.report {
    margin-left: 5%;
    margin-right: 20px;
}

/* Media Queries for responsiveness */

@media only screen and (min-width: 979px) {
    .phone{
        margin: 0px 50px 0px 10px;
    }

    .set-input{
        width: 330px;
    }
    .padr-med{
        width: 4px;
    }
 }

 @media only screen and (max-width: 979px) {
    .padr-med{
        width: 1px;
    }
 }
 
 @media only screen and (min-width: 768px) {
    .phone{
        margin: 0px 50px 0px 10px;
    }
 }
 
 @media only screen and (max-width: 767px) {
    .phone{
        margin: 0px 50px 0px 10px;
    }
    .set-input{
        width: 320px;
    }
    
    
 }
 
 @media only screen and (max-width: 593px) {
    .phone{
        margin: 0px 50px 0px 10px;
    }
    .padr-med{
        width: 50px;
    }
 }